In [1]:
import numpy as np
from pandas import Series, DataFrame
import pandas as pd
from numpy.random import randn

In [2]:
# 簡単なSeries
ser1 = Series([1, 2, 3, 4], index=['A', 'B', 'C', 'D'])

In [3]:
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [4]:
# reindexを使って、indexを変えられる
ser2 = ser1.reindex(['A', 'B', 'C', 'D', 'E', 'F'])

In [5]:
#自動的に、nullが入る
ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [7]:
# 新しいindexの値を埋めることもできる
ser2.reindex(['A', 'B', 'C', 'D', 'E', 'F', 'G'], fill_value = 0)

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
G    0.0
dtype: float64

In [9]:
ser3 = Series(['USA', 'Mexico', 'Canada'], index=[0, 5, 10])
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [10]:
# ffillは、forward fillの略です。
ser3.reindex(range(15), method = 'ffill')

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [11]:
# 行と列の両方について、Reindexを考えます。
# reshapeを使ってDataFrameを作ってみます。
dframe = DataFrame(randn(25).reshape((5,5)) ,index=['A', 'B', 'D', 'E', 'F'], columns=['col1', 'col2', 'col3', 'col4', 'col5'])
dframe

       col1      col2      col3      col4      col5
A  1.615549  0.477915 -0.741768  0.556308 -0.766689
B -0.045139  1.246153 -2.417613  0.672406  2.598255
D  0.992865 -0.276146 -1.041690 -0.770905 -0.016197
E  1.088786  1.009130  0.189317  0.458695  0.430935
F  0.631737  0.178660 -0.242746  2.214019 -0.233414

In [12]:
# Cを忘れました。
new_index = ['A', 'B', 'C', 'D', 'E', 'F']
dframe2 = dframe.reindex(new_index)
dframe2

       col1      col2      col3      col4      col5
A  1.615549  0.477915 -0.741768  0.556308 -0.766689
B -0.045139  1.246153 -2.417613  0.672406  2.598255
C       NaN       NaN       NaN       NaN       NaN
D  0.992865 -0.276146 -1.041690 -0.770905 -0.016197
E  1.088786  1.009130  0.189317  0.458695  0.430935
F  0.631737  0.178660 -0.242746  2.214019 -0.233414

In [13]:
#列にも同じような操作ができます。
new_columns = ['col1', 'col2', 'col3', 'col4', 'col5', 'col6']

dframe2.reindex(columns=new_columns)

       col1      col2      col3      col4      col5  col6
A  1.615549  0.477915 -0.741768  0.556308 -0.766689   NaN
B -0.045139  1.246153 -2.417613  0.672406  2.598255   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D  0.992865 -0.276146 -1.041690 -0.770905 -0.016197   NaN
E  1.088786  1.009130  0.189317  0.458695  0.430935   NaN
F  0.631737  0.178660 -0.242746  2.214019 -0.233414   NaN

In [14]:
# ixを使うと、素早くReindexが可能です。
dframe

       col1      col2      col3      col4      col5
A  1.615549  0.477915 -0.741768  0.556308 -0.766689
B -0.045139  1.246153 -2.417613  0.672406  2.598255
D  0.992865 -0.276146 -1.041690 -0.770905 -0.016197
E  1.088786  1.009130  0.189317  0.458695  0.430935
F  0.631737  0.178660 -0.242746  2.214019 -0.233414

In [15]:
dframe.ix[new_index, new_columns]

       col1      col2      col3      col4      col5  col6
A  1.615549  0.477915 -0.741768  0.556308 -0.766689   NaN
B -0.045139  1.246153 -2.417613  0.672406  2.598255   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D  0.992865 -0.276146 -1.041690 -0.770905 -0.016197   NaN
E  1.088786  1.009130  0.189317  0.458695  0.430935   NaN
F  0.631737  0.178660 -0.242746  2.214019 -0.233414   NaN