# 40. 外れ値

In [1]:
import numpy as np
from pandas import DataFrame

In [2]:
# 乱数列の種を与える
np.random.seed(12345)
dframe = DataFrame(np.random.randn(100, 4))

In [3]:
dframe.head()

          0         1         2         3
0 -0.204708  0.478943 -0.519439 -0.555730
1  1.965781  1.393406  0.092908  0.281746
2  0.769023  1.246435  1.007189 -1.296221
3  0.274992  0.228913  1.352917  0.886429
4 -2.001637 -0.371843  1.669025 -0.438570

In [5]:
dframe.tail()

           0         1         2         3
95  0.564561 -0.190481 -0.916934 -0.975814
96  2.212303  0.073931  1.818595 -1.581531
97 -0.774363  0.552936  0.106061  3.927528
98 -0.255126  0.854137 -0.364807  0.131102
99 -0.697614  1.335649 -0.151039  0.442938

In [6]:
dframe.describe()

                0           1           2           3
count  100.000000  100.000000  100.000000  100.000000
mean    -0.142766    0.099733    0.063021   -0.076623
std      0.995497    0.918984    1.057519    1.100933
min     -2.557934   -1.860761   -2.644409   -2.420294
25%     -0.788723   -0.571684   -0.699515   -0.773203
50%     -0.256996    0.111051    0.064969   -0.230874
75%      0.637665    0.711930    0.730487    0.624688
max      2.212303    2.613999    3.248944    3.927528

In [7]:
# 最初の列
col = dframe[0]

In [8]:
col.head()

0   -0.204708
1    1.965781
2    0.769023
3    0.274992
4   -2.001637
Name: 0, dtype: float64

In [12]:
# 2より大きい要素を取り出す
col[np.abs(col) > 2]

4    -2.001637
8    -2.370232
10   -2.359419
30   -2.252797
68   -2.557934
96    2.212303
Name: 0, dtype: float64

In [14]:
# DataFrameの前列に対して同じ演算をする
dframe[(np.abs(dframe) > 3).any(1)]

           0         1         2         3
5  -0.539741  0.476985  3.248944 -1.021228
97 -0.774363  0.552936  0.106061  3.927528

In [15]:
np.sign(dframe)

      0    1    2    3
0  -1.0  1.0 -1.0 -1.0
1   1.0  1.0  1.0  1.0
2   1.0  1.0  1.0 -1.0
3   1.0  1.0  1.0  1.0
4  -1.0 -1.0  1.0 -1.0
5  -1.0  1.0  1.0 -1.0
6  -1.0  1.0  1.0  1.0
7   1.0  1.0 -1.0 -1.0
8  -1.0 -1.0 -1.0  1.0
9  -1.0  1.0 -1.0  1.0
10 -1.0 -1.0 -1.0 -1.0
11 -1.0  1.0  1.0 -1.0
12  1.0  1.0  1.0  1.0
13 -1.0  1.0  1.0 -1.0
14 -1.0  1.0  1.0 -1.0
15  1.0 -1.0  1.0  1.0
16  1.0 -1.0 -1.0 -1.0
17 -1.0 -1.0 -1.0  1.0
18  1.0  1.0  1.0 -1.0
19 -1.0 -1.0 -1.0  1.0
20  1.0 -1.0  1.0  1.0
21  1.0  1.0 -1.0  1.0
22 -1.0  1.0  1.0  1.0
23 -1.0  1.0  1.0  1.0
24  1.0 -1.0  1.0  1.0
25 -1.0 -1.0 -1.0 -1.0
26 -1.0 -1.0  1.0  1.0
27 -1.0  1.0 -1.0  1.0
28  1.0 -1.0 -1.0 -1.0
29  1.0 -1.0  1.0 -1.0
..  ...  ...  ...  ...
70 -1.0 -1.0  1.0 -1.0
71  1.0 -1.0 -1.0  1.0
72 -1.0  1.0 -1.0  1.0
73 -1.0  1.0  1.0 -1.0
74  1.0  1.0 -1.0  1.0
75  1.0 -1.0 -1.0 -1.0
76  1.0  1.0  1.0 -1.0
77 -1.0 -1.0  1.0  1.0
78 -1.0  1.0  1.0 -1.0
79  1.0 -1.0  1.0  1.0
80 -1.0  1.0  1.0 -1.0
81 -1.0  1.0  1.0 -1.0
82 -1.0 -1.0  1.0 -1.0
83 -1.0  1.0 -1.0 -1.0
84  1.0 -1.0  1.0  1.0
85  1.0 -1.0 -1.0  1.0
86  1.0  1.0  1.0 -1.0
87 -1.0 -1.0 -1.0 -1.0
88  1.0  1.0  1.0  1.0
89 -1.0 -1.0 -1.0  1.0
90  1.0  1.0  1.0 -1.0
91 -1.0  1.0 -1.0 -1.0
92  1.0 -1.0 -1.0 -1.0
93  1.0  1.0  1.0 -1.0
94 -1.0  1.0 -1.0  1.0
95  1.0 -1.0 -1.0 -1.0
96  1.0  1.0  1.0 -1.0
97 -1.0  1.0  1.0  1.0
98 -1.0  1.0 -1.0  1.0
99 -1.0  1.0 -1.0  1.0

[100 rows x 4 columns]

In [16]:
# 絶対値の上限が3になるようにする
dframe[np.abs(dframe) > 3] = np.sign(dframe)* 3

In [17]:
dframe.describe()

                0           1           2           3
count  100.000000  100.000000  100.000000  100.000000
mean    -0.142766    0.099733    0.060532   -0.085898
std      0.995497    0.918984    1.050212    1.070339
min     -2.557934   -1.860761   -2.644409   -2.420294
25%     -0.788723   -0.571684   -0.699515   -0.773203
50%     -0.256996    0.111051    0.064969   -0.230874
75%      0.637665    0.711930    0.730487    0.624688
max      2.212303    2.613999    3.000000    3.000000